[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream;
Actions=OpenInCode;
X-KDE-Submenu=Dev

[Desktop Action OpenInCode]
Name=Open in Code
Icon=code-context
Exec=code %u
