[Desktop Entry]
Comment=
Exec=/home/geo/bin/godot-stable
GenericName=4.2.2
Icon=/home/geo/Pictures/icons/Godot-yellow.svg
Name=Godot stable
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Development;
