[Desktop Entry]
Categories=Development;
Comment=
Exec=$HOME/bin/godot-mono
GenericName=
Icon=Godot-green
MimeType=application/x-godot-project;
Name=Godot C#
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
