[Desktop Entry]
Name=Godot
Exec=/home/geo/bin/godot
Terminal=false
Type=Application
Icon=godot
Categories=Development;
NoDisplay=false
MimeType=application/x-godot-project;
