[Desktop Entry]
Categories=Development;
Comment=
Exec=/home/geo/bin/godot-master
Icon=/home/geo/Pictures/icons/Godot-red.svg
Name=Godot Master
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=application/x-godot-project;
