[Desktop Entry]
Categories=Development;
Comment=
Exec=$HOME/bin/godot-master
Icon=Godot-red
Name=Godot Master
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=application/x-godot-project;
